#!/usr/bin/env python
PACKAGE = "aerial_robot_control"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

level = 0  # NMPC computes an internal per-field change mask; dynamic_reconfigure levels are OR masks.

gen.add("nmpc_flag", bool_t, level, "NMPC Control Weight Flag", False)
gen.add("Qp_xy", int_t, level, "NMPC Qp_xy", 300, 0, 2000)
gen.add("Qp_z", int_t, level, "NMPC Qp_z", 400, 0, 2000)
gen.add("Qv_xy", int_t, level, "NMPC Qv_xy", 10, 0, 200)
gen.add("Qv_z", int_t, level, "NMPC Qv_z", 10, 0, 200)
gen.add("Qq_xy", int_t, level, "NMPC Qq_xy", 300, 0, 2000)
gen.add("Qq_z", int_t, level, "NMPC Qq_z", 500, 0, 2000)
gen.add("Qw_xy", int_t, level, "NMPC Qw_xy", 5, 0, 100)
gen.add("Qw_z", int_t, level, "NMPC Qw_z", 5, 0, 100)
gen.add("Qa", int_t, level, "NMPC Qa", 1, 0, 10)
gen.add("Rt", int_t, level, "NMPC Rt", 1, 0, 10)
gen.add("Rac_d", int_t, level, "NMPC Rac_d", 250, 0, 2000)

gen.add("Qt", int_t, level, "NMPC Qt", 1, 0, 10)
gen.add("Rtc_d", int_t, level, "NMPC Rtc_d", 1, 0, 10)

gen.add("pMxy", double_t, level, "NMPC pMxy", 1.5, 0, 10)
gen.add("pMz", double_t, level, "NMPC pMz", 1.5, 0, 10)
gen.add("oMxy", double_t, level, "NMPC oMxy", 1.0, 0, 10)
gen.add("oMz", double_t, level, "NMPC oMz", 1.0, 0, 10)

gen.add("enlarge_factor", double_t, level, "NMPC enlarge factor", 50, 1, 200)

exit(gen.generate(PACKAGE, "aerial_robot_control", "NMPC"))
