name: generate plantuml

on:
  push:
    paths:
      - '**/*.puml'
      - '**/*.plantuml'
      - '**/*.uml'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  generate_plantuml:
    runs-on: ubuntu-latest
    name: plantuml
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Generate PlantUML diagrams
        id: plantuml
        uses: grassedge/generate-plantuml-action@v1.5
        with:
          path: .
          message: "Render PlantUML files"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
